
body,pre {
    font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;	
}

body {
	padding:40px;
	font-size:15px;
	line-height:25px;
}

hr {
	border:none;
	border-bottom:1px dotted #444;
}

pre {
	background-color:#f0f0f0;
	border:1px solid #ddd;
	padding:10px;
	font-size:14px;
	line-height:20px;
}

.example {
	border:1px solid #ddd;
	padding:10px;
}
