/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




body,pre {
    font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

body {
    padding:40px;
    font-size:15px;
    line-height:25px;
    background-image:url(../img/pattern.png);
    background-repeat:repeat;
}

.colorful {
    background:
        linear-gradient(45deg, hsla(36, 100%, 44%, 1) 0%, hsla(36, 100%, 44%, 0) 70%),
        linear-gradient(135deg, hsla(182, 98%, 50%, 1) 10%, hsla(182, 98%, 50%, 0) 80%),
        linear-gradient(225deg, hsla(60, 93%, 50%, 1) 10%, hsla(60, 93%, 50%, 0) 80%),
        linear-gradient(315deg, hsla(314, 96%, 42%, 1) 100%, hsla(314, 96%, 42%, 0) 70%);
    }

header {
    padding:40px;
    color:#fff;
}

hr {
    border:none;
    border-bottom:1px dotted #444;
}

.content {
    padding:40px;
}

.menu {
    font-size:0;
    /*
    margin-right:-20px;
    */

    margin-right:0;
}

.item {
    box-sizing:border-box;
    display:inline-block;

    /*
    padding:10px 20px 10px 0;
    width:33.33%;
    */
    padding:10px 0 10px 0;
    width:100%;

    text-align:center;
    font-size:15px;
}
.item > a {
    box-sizing:border-box;
    display:block;
    padding:10px;
    background-color:#f9f9f9;
    color:#444;
    text-decoration:none;
    border-radius:5px;
    box-shadow:1px 1px 8px #ccc;
}

.item > a:hover {
    background-color:#ddd;
}

.box {
    position:relative;
    padding:10px;
    margin-top:50px;
    border:1px solid #ddd;
    border-radius:5px;
}
.box > h3 {
    position:absolute;
    top:-40px;
    left:0;
    right:0;
    margin:0;
    padding:0;
    height:40px;
    line-height:40px;
    color:#444;
}
.box > h3 > a {
    text-decoration:none;
    display:inline-block;
    font-size:15px;
    color:#000;
    margin-left:10px;
}











/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    .menu {
        margin-right:-20px;
    }
    .item {
        padding:10px 20px 10px 0;
        width:50%;
    }

}

@media only screen and (min-width: 768px) {

    .item {
        padding:10px 20px 10px 0;
        width:33.33%;
    }

}

@media only screen and (min-width: 1140px) {


}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
