/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}



/* ===== page ==================================================

   ============================================================= */

body {
	text-align:center;padding:0;margin:0;
}
div {
	position:relative;
	box-sizing:border-box;
}

.main {
    width:1300px;padding:20px;
    text-align:left;
    
}
.live {
    background-color:#f0f0f0;
}
.life {
    border:1px solid #ddd;
    margin-bottom:10px;
}
.head {
    display:inline-block;
    width:70px;font-size:14px;padding:5px;
    vertical-align:middle;text-align:right;
}
.body {
    display:inline-block;
    padding:10px;font-size:0;
    vertical-align:middle;
}
    .ia {
        display:inline-block;
        width:150px;padding:5px;
        border:1px dotted #999;
        background-color:#fff;
        font-size:14px;
        margin-right:10px;
        min-height:90px;
    }
    .ia:hover {
        background-color:#f0f0f0;
    }
    .ia.active {
        background-color:#ddd;
    }

    .ib {
        display:inline-block;
        width:230px;padding:5px;
        border:1px dotted #999;
        background-color:#fff;
        font-size:14px;
        margin-right:10px;
        min-height:90px;
    }
    .ib:hover {
        background-color:#f0f0f0;
    }
        .t {

        }

.connect {
    position:absolute;top:-30px;left:20px;width:30px;height:40px;
    background-color:#ddd;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
